name: Deno Compile and Release

on:
  push:
    tags:
      - "v*"

jobs:
  deno-compile:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v3

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Compile Deno app
        run: |
          deno compile --target aarch64-apple-darwin --output dist/configure-macos setup-mac/install/install.ts

      # - name: Create Release
      #   id: create_release
      #   uses: actions/create-release@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     tag_name: ${{ github.ref }}
      #     release_name: Release ${{ github.ref }}
      #     draft: false
      #     prerelease: false

      # - name: Upload binary to release
      #   uses: softprops/action-gh-release@v1
      #   with:
      #     files: configure-macos

      - uses: actions/upload-artifact@v3
        with:
          name: configure-macos
          path: dist/configure-macos
